$main-color: #ee5514;
$text-color: #1a0a03;
$second-color: rgb(173, 161, 150);
$secondary-color: #fff;
$bg-color: #fdeee7;
$third-color: #333;

$slick-dots: rgb(216, 213, 213);

$small: 14px;
$medium: 16px;
$large: 18px;

$base: 16px;
