$background-color: #fff;
$text-color: #fff;
$main-color: rgb(49, 137, 252);
$secondary-color: rgb(152, 154, 156);
$menu-background-color: rgb(31, 31, 31);
$active: rgb(252, 7, 7);
$submenu-background-color: rgb(241, 115, 115);

$fs-base: 16px;
$fs-small: 10px;
$fs-medium: 14px;
$fs-big: 24px;

$themePallete: (
  primary: #000,
  success: #27ba6c,
  info: #03a9f4,
  warning: #f83,
  danger: #ff1a1a,
);

$sizePallete: (
  small: 15px,
  medium: 20px,
  big: 25px,
);
