include ../mixins/button/button
include ../mixins/card/card
include ../mixins/slider/slider
doctype html
html(lang='en')
  block variables
  include ../blocks/head
  body
    header.header.container
      .first-section
        img.first-section__img(src="../../images/puma.png", alt="")
        nav.nav
          a.nav__link(href='#') Menu
          a.nav__link(href='#') About
          a.nav__link(href='#') Feature
          a.nav__link(href='#') Gallary
      .second-section
        +button('Buy now','large','primary',false)
    main.main.container 
      block main
    footer.footer
      .container
        .footer-wrapper
          .footer-wrapper__left.information
            .information__links.links
              img.links__logo(src="../../images/puma.png", alt="")
              p.links__addres 10 New Town Street, V2 5NW, Newstate, USA.
              a.links__email(href="mailto:shovasatkhira88@gmail.com") shovasatkhira88@gmail.com
              .links__contacts.contacts
                img.contacts__img(src="../../images/facebook.svg", alt="")
                img.contacts__img(src="../../images/instagram.svg", alt="")
                img.contacts__img(src="../../images/twitter.svg", alt="")
                img.contacts__img(src="../../images/google.svg", alt="")
            .information__services.services
              .services__title.footer-title Our services
              ul.services__list.footer-list
                li.services__li.footer-li
                  a(href="#") About us
                li.services__li.footer-li
                  a(href="#") Feature
                li.services__li.footer-li
                  a(href="#") Gallary
            .information__support.support
              .support__title.footer-title Support
              ul.services__list.footer-list
                li.services__li.footer-li
                  a(href="#") Privacy & Policy
                li.services__li.footer-li
                  a(href="#") Terms & Condition
                li.services__li.footer-li
                  a(href="#") Support System 
          .footer-wrapper__right.contact
            .contact__title.footer-title Contact us
            p.contact__text Lorem ipsum dolor sit amet consectetur adipiscin.
            .contact__input
              form(action="#" method="post") 
                input.input(type="email" placeholder="Mail address")
                +button('Send','large','primary',false)
        .sub-footer Copyright 2021 The PUMA All Rights Reserved.

              
            
            
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../js/vendors.js")
    script(src="../js/main.js")
