include ../mixins/button/button
include ../mixins/card/card
include ../mixins/slider/slider
doctype html
html(lang='en')
  block variables
  include ../blocks/head
  body
    header.header.container
      .header__first-section
        img.header__img(src="../../images/header/puma.png", alt="")
        .menu
          .icon
            span
            span
            span
            span
          nav.nav
            ul.nav__list
              li.nav__li
                a.nav__link(href='#') Menu
              li.nav__li
                a.nav__link(href='#') About
              li.nav__li
                a.nav__link(href='#') Feature
              li.nav__li
                a.nav__link(href='#') Gallary
           
      .header__second-section
        +button('Buy now')
    main.main.container
      block main
    footer.footer
      .container
        .footer__wrapper
          .footer__links.links
            img.links__logo(src="../../images/header/puma.png", alt="")
            p.links__addres 10 New Town Street, V2 5NW, Newstate, USA.
            a.links__email(href="mailto:shovasatkhira88@gmail.com") shovasatkhira88@gmail.com
            .links__contacts.contacts
              a.contacts__link(href="https://ru-ru.facebook.com/" target="_blank")
                img.contacts__img(src="../../images/footer/facebook.svg", alt="")
              a.contacts__link(href="https://www.instagram.com/" target="_blank")
                img.contacts__img(src="../../images/footer/instagram.svg", alt="")
              a.contacts__link(href="https://twitter.com/" target="_blank")
                img.contacts__img(src="../../images/footer/twitter.svg", alt="")
              a.contacts__link(href="https://www.google.com/" target="_blank")
                img.contacts__img(src="../../images/footer/google.svg", alt="")
          .footer__services.services
            .services__title.footer-title Our services
            ul.services__list.footer-list
              li.services__li.footer-li
                a(href="#") About us
              li.services__li.footer-li
                a(href="#") Feature
              li.services__li.footer-li
                a(href="#") Gallary
          .footer__support.support
            .support__title.footer-title Support
            ul.support__list.footer-list
              li.footer-list__li.footer-li
                a(href="#") Privacy & Policy
              li.footer-list__li.footer-li
                a(href="#") Terms & Condition
              li.footer-list__li.footer-li
                a(href="#") Support System 
          .footer__contact.contact
            .contact__title.footer-title Contact us
            p.contact__text Lorem ipsum dolor sit amet consectetur adipiscin.
            .contact__input.email
              form.email__form(action="index.html" method="post")
                input.email__input(type="email" placeholder="Mail address")
                +button('Send','--form')
        .sub-footer Copyright 2021 The PUMA All Rights Reserved.
    //- script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="../js/vendors.js")
    script(src="../js/main.js")
