include ../mixins/button/button
include ../mixins/card/card
include ../mixins/slider/slider
doctype html
html(lang='en')
  block variables
  include ../blocks/head
  body
    header.header.container
      .first-section
        img.first-section__img(src="../../images/puma.png", alt="")
        nav.nav
          a.nav__link(href='#') Menu
          a.nav__link(href='#') About
          a.nav__link(href='#') Feature
          a.nav__link(href='#') Gallary
      .second-section
        +button('Buy now','large','primary',false)
    main.main.container
      .main-screen
        .main-screen__left
          .tagline
            .tagline__sup
              | Life is better in running
              span.oranje shoes
              |.
          .tagline__sub
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices

        .main-screen__right
            include ../blocks/slider
    block main


    footer.footer футер
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="../js/vendors.js")
    script(src="../js/main.js")
