@mixin makeButton($bg-color, $t-color, $f-size, $b-radius) {
  background-color: $bg-color;
  border: none;
  color: $t-color;
  font-size: $f-size;
  border-radius: $b-radius;
  padding: 15px 30px;
  line-height: 160%;

  &:hover {
    filter: brightness(140%);
    cursor: pointer;
  }

  &--form {
    border-radius: 0 5px 5px 0;
    font-size: 14px;
  }
}

.btn {
  @include makeButton($main-color, #fff, $large, 5px);
}
