.cards {
  margin-bottom: 141px;
}

.cards-wrapper {
  display: flex;
  gap: 30px;
}

.title {
  text-align: center;
  margin-bottom: 60px;

  .sup-title {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 980px) {
  .cards-wrapper {
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
  }
}
