$bg-circle: #f6e9fd;
$shadow-color: rgba(34, 60, 80, .2);

.item {
  padding: 56px 55px;
  background: $secondary-color;
  box-shadow: 0 5px 45px -13px $shadow-color;
  border-radius: 10px;
  text-align: center;
  max-width: 360px;
  transition: .2s linear;

  &:hover {
    background: $bg-color;
  }

  &__circle {
    background: $bg-circle;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    margin-bottom: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-family: 'Source Serif Pro', serif;
    font-size: 22px;
    margin: 14px;
  }


  &__sub-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 22px;
  }
}

.link {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: $main-color;

  img {
    margin-left: 11px;
  }
}
