$filter-shadow: rgba(34, 60, 80, .03);

.wrapper {
  display: flex;
  flex-direction: column;
}

.filter {
  display: flex;
  align-items: center;
  @media screen and (max-width: 980px) {
    margin: 0 auto 136px ;
  }
  @media screen and (max-width: 792px) {
    margin: 0 -20px 136px ;
  }
  @media screen and (max-width: 768px) {
    margin: 0 -20px;
    flex-direction: column;
    padding: 35px;
  }

  background: $secondary-color;
  padding: 29px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 4px 4px 8px 0 $filter-shadow;
  @media screen and (max-width: 768px) {
    box-shadow: none;
  }
  max-width: 792px;
  margin-bottom: 136px;

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 60px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid $main-color;
    }
  }

  &__column {
    height: 42px;
    border-right: 1px solid $main-color;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__name {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    color: $text-color;
    opacity: 70%;
    margin-bottom: 12px;
  }

  &__select {
    all: initial;
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 160%;
    color: $text-color;
    border: 0;
    appearance: none;
    background-image: url('../../images/main-screen/filter-arrow.png');
    background-repeat: no-repeat;
    background-position: right 0% top 50%;
    width: calc(100% + 22px);
  }

  &__option {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: $text-color;
  }
}
