$footer-bg-color: #fef8f6;
$footer-input-border: #e5dfdd;
$footer-shadow: rgba(34, 60, 80, .6);

.footer {
  background: $footer-bg-color;
  padding: 100px 0 30px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  margin-bottom: 38px;
  gap: 77px;

  &__left {
    display: flex;
  }

  &__right {
    display: flex;
  }

  &__links {
    @media screen and (max-width: 980px) {
      width: 100%;

    }
  }

  &__services {
    @media screen and (max-width: 980px) {
      width: 45%;
    }
    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }

  &__support {
    @media screen and (max-width: 980px) {
      width: 40%;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
    }
  }

  &__contact {
    padding-left: 50px;
    @media screen and (max-width: 980px) {
      width: 100%;
    }
  }
}

.links {
  max-width: 265px;
  font-weight: 400;
  font-size: 18px;
  color: $text-color;

  @media screen and (max-width: 980px) {
    max-width: none;
    text-align: center;
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__addres {
    margin-left: 3px;
    line-height: 160%;
    opacity: 70%;
    margin-bottom: 20px;
    max-width: 203px;
    @media screen and (max-width: 1124px) {
      max-width: none;
    }
  }

  &__email {
    color: $text-color;
    opacity: 80%;
    display: block;
    margin-bottom: 11px;

    &:hover {
      color: $main-color ;
    }
  }
}

.contacts {
  &__img {
    margin-right: 25px;
  }
}

.services {
  color: $text-color;
  // margin-right: 77px;

  &__title {
    margin-top: 7px;
    margin-bottom: 31px;
    line-height: 160%;
  }

  &__link {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__li {
    line-height: 160%;
  }
}

.contact {
  max-width: 320px;
  @media screen and (max-width: 1124px) {
    max-width: none;
  }
  @media screen and (max-width: 540px) {
    text-align: center;
  }

  &__text {
    line-height: 160%;
    @media screen and (max-width: 980px) {
      text-align: center;
    }
  }
}

.footer-title {
  color: $text-color;
  font-size: 18px;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 31px;
  line-height: 160%;
  @media screen and (max-width: 1124px) {
    text-align: center;
  }
}

.footer-list {
  list-style: none;
  @media screen and (max-width: 1124px) {
    text-align: center;
  }
}

.footer-li {
  margin-bottom: 10px;
  opacity: 70%;
  font-size: 18px;
  line-height: 160%;

  a {
    &:hover {
      color: $main-color ;
    }
  }
}

.contact__text {
  color: $text-color;
  opacity: 70%;
  font-size: 18px;
  margin-bottom: 38px;
}

.sub-footer {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  padding-top: 32px;
  color: $text-color;
  opacity: 70%;
  box-shadow: 0 5px 3px -6px $footer-shadow inset;
}

.email {
  &__form {
    display: flex;
    @media screen and (max-width: 1124px) {
      justify-content: center;
    }
  }

  &__input {
    background: $footer-bg-color;
    padding: 15px 19px;
    border: 1px solid $footer-input-border;
    border-radius: 5px 0 0 5px;
    outline: 0 !important;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: $text-color;
    
    min-width: 226px;
    display: block;
  }
}
