.gallary {
  margin-bottom: 136px;
  &__title {
    letter-spacing: 1.5px;
    line-height: 150%;
  }
}

.gal-categories {
  color: $text-color;
  font-size: 18px;
  display: flex;
  gap: 35px;
  margin-bottom: 65px;

  letter-spacing: 2px;
  line-height: 90%;
}

.gal-cat-items {
  display: flex;
  gap: 35px;
  list-style-type: none;
  cursor: pointer;

  &__item {
    position: relative;

    &:hover {
      color: $main-color;
      transition: 0.2s;

      &:after {
        width: 100%;
      }
    }

    &:focus {
      &:after {
        width: 100%;
      }
    }

    &:after {
      display: block;
      position: absolute;
      left: 0;
      width: 0;
      height: 2px;
      background-color: $main-color;
      content: "";
      transition: width 0.5s ease-out;
    }
  }
}

.slider-gallary {
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: none;
    padding: 0;
    cursor: pointer;
    font-size: 0;

    &::before {
      display: table;
      font-size: 60px;
      line-height: 1;
      color: #fff;
      background-color: #fdeee7;
    }
  }

  .slick-prev {
    left: 86%;
    top: -28%;
    display: block;
    &::before {
      content: " ";
      width: 50px;
      height: 50px;
      background-image: url(../../images/prev_small.png);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  .slick-next {
    right: 4%;
    top: -28%;
    &::before {
      content: "";
      width: 50px;
      height: 50px;
      background-image: url(../../images/next_small.png);
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }
}

.sl-gal-item {
  &__img {
    border: 1px solid rgba(26, 10, 3, 0.1);
    border-radius: 10px;
    width: 262px;
    height: 170px;
    transition: 0.2s linear;
    margin-bottom: 33px;

    &:hover {
      border: 2px solid $main-color;
    }
  }

  &__name {
    font-family: "Source Serif Pro", serif;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 14px;
  }

  &__size {
    margin-bottom: 12px;
  }

  &__price {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 13px;
  }

  &__span {
    margin-left: 10px;
    font-weight: 500;
  }
}

@media screen and (max-width: 1124px) {
  .sl-gal-item__img {
    margin-right: 50px;
  }
}

@media screen and (max-width: 980px) {
  .gallary {
    &__title {
      text-align: center;
    }

    &__description {
      text-align: center;
    }
  }

  .sub-title {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 980px) {
  .slick-prev {
    display: none;
  }

  .slick-next {
    display: none;
  }
}
