body {
  background: url('../../images/Rectangle.png') no-repeat;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Source Serif Pro', serif;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #000;
}

.sup-title {
  font-family: 'Source Serif Pro', serif;
  color: $main-color;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
}

.sub-title {
  font-family: 'Source Serif Pro', serif;
  font-size: 44px;
  margin-bottom: 25px;
}

