$ref-color: #000;

body {
  background: url('../../images/main-screen/Rectangle.png') no-repeat;
  font-family: 'Poppins', sans-serif;
  // font-family: 'Source Serif Pro', serif;

  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: $ref-color;
}

.sup-title {
  font-family: 'Source Serif Pro', serif;
  color: $main-color;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.sub-title {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  @media screen and (max-width: 540px) {
    font-size: 30px;
  }
  line-height: 130%;
  margin-bottom: 25px;
}
