.header {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.nav {
  display: flex;

  &__link {
    margin-right: 40px;
    transition: 0.1s linear;
    opacity: 70%;

    &:hover {
      color: $main-color;
    }
  }
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    margin-right: 101px;
  }
}
