.header {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  @media screen and (max-width: 768px) {
    margin-bottom: 0;
  }
}

.nav {
  display: flex;
  @media screen and (max-width: 540px) {
    position: absolute;
    flex-direction: column;
    // left: 43%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    overflow: auto;
    opacity: 0;
    top: 85px;
    left: 0;
  }

  &__link {
    margin-right: 40px;
    transition: 0.1s linear;
    opacity: 70%;
    @media screen and (max-width: 768px) {
      margin-right: 5%;
    }

    @media screen and (max-width: 540px) {
      margin-right: 0;
      width: 100%;
      display: block;
      padding: 10px 0;
      text-align: center;
      color: #fff;
      opacity: 100%;
    }
    &:hover {
      color: $main-color;
    }
  }
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 768px) {
    margin-right: 10%;
  }
  @media screen and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (max-width: 540px) {
    margin-right: 0;
  }
  &__img {
    margin-right: 101px;
    @media screen and (max-width: 768px) {
      margin-right: 5%;
    }
  }
}

.icon {
  display: none;
  @media screen and (max-width: 540px) {
    display: inline-block;
  }
  width: 45px;
  height: 35px;
  position: relative;
  cursor: pointer;
  // left: 50%;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 9px;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0;
  }
  span:nth-child(2) {
    top: 13px;
  }
  span:nth-child(3) {
    top: 26px;
  }
}

.menu.menu-open .nav {
  opacity: 1;
}
