.header {
  display: flex;
  margin-top: 44px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.nav {
  display: flex;
  // justify-content: space-between;

  &__link {
    margin-right: 40px;
    transition: .1s linear;

    &:hover{
      color: #EE5514;
    }
  }
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    margin-right: 101px;
  }
}
