.main-screen {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 980px) {
    justify-content: center;
  }
  margin-bottom: 80px;
  @media screen and (max-width: 540px) {
    margin-bottom: 60px;
  }

  position: relative;

  &__left {
    width: 366px;
    @media screen and (max-width: 980px) {
      width: 100%;
      text-align: center;
      padding-top: 50px;
    }
    padding-top: 74px;
  }

  &__right {
    position: absolute;
    max-width: 500px;
    max-height: 400px;
    left: 50%;
    @media screen and (max-width: 1124px) {
      left: 40%;
    }
  }
}

.tagline {

  &__sup {
    font-family: 'Source Serif Pro', serif;
    font-size: 61px;
    @media screen and (max-width: 540px) {
      font-size: 45px;
    }
    line-height: 120%;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 600;
  }

  &__sub {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $text-color;
    opacity: 70%;
  }
}

.oranje {
  color: $main-color;
}

.border {
  padding-right: 109px;
  position: absolute;
  left: 56%;
  @media screen and (max-width: 1124px) {
    left: 46%;
    padding-right: 0;
  }
}
