.main-screen {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
  @media screen and (max-width: 540px) {
    margin-bottom: 100px;
  }
  position: relative;

  &__left {
    width: 366px;
    padding-top: 77px;
  }

  &__right {
    position: absolute;
    max-width: 500px;
    max-height: 400px;
    left: 50%;
  }
}

.tagline {
  line-height: 1.2;

  &__sup {
    font-family: 'Source Serif Pro', serif;
    font-size: 61px;
    margin-bottom: 20px;
  }

  &__sub {
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    opacity: 70%;
    line-height: 1.5;
  }
}

.oranje {
  color: $main-color;
}

.border {
  padding-right: 109px;
  position: absolute;
  left: 56%;
}

@media screen and (max-width: 1124px) {
  .border {
    left: 46%;
    padding-right: 0;
  }

  .main-screen__right {
    left: 40%;
  }
}

@media screen and (max-width: 980px) {
  .main-screen {
    justify-content: center;
  }
}
