$news-bg-color: #f2f6fb;
$news-br-color: #e5dfdd;

.newsletter-wrapper {
  display: flex;

  border-radius: 10px;
  background: $news-bg-color;
  @media screen and (max-width: 980px) {
    justify-content: center;
    margin: -20px;
  }
  @media screen and (max-width: 540px) {
    margin: -15px;
  }

  &__left {
    height: 334px;
  }

  &__right {
    padding: 63px;
    @media screen and (max-width: 540px) {
      padding: 20px;

      width: 100%;
    }
    @media screen and (max-width: 1100px) {
      max-width: 600px;
    }
    @media screen and (max-width: 980px) {
      max-width: none;
    }
  }
}

.sign-up {
  &__title {
    font-family: 'Source Serif Pro', serif;
    font-size: 31px;
    margin-bottom: 17px;
    line-height: 160%;
  }

  &__subtitle {
    font-style: normal;
    color: $text-color;
    opacity: 80%;
    line-height: 160%;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 33px;
  }
}

.email-form {
  display: flex;

  &__input {
    padding: 15px 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid $news-br-color;
    border-radius: 5px 0 0 5px;
    outline: 0 !important;
    color: $text-color;
    // min-width: 360px;
    width: 100%;
    @media screen and (max-width: 1100px) {
      width: 100%;
      min-width: 0;
    }
    background: $news-bg-color;
    display: block;
  }
}

.newsletter-img {
  height: 334px;
  max-width: 488px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  @media screen and (max-width: 1100px) {
    width: 100%;
  }
  @media screen and (max-width: 980px) {
    display: none;
  }
}
