.slider {
  // left: -10%;
  // padding: 0 50px 30px;
  margin: 0 auto;
  // max-width: 625px;
  // left: -30%;
  // top: 20%;
  // border: 2px solid black;
  

  &__img {
    width: 100%;
    // max-height: 400px;
    // max-width: 700px;
    margin: 0 auto;
    
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: none;
  padding: 0;
  cursor: pointer;
  font-size: 0;

  &::before {
    display: table;
    font-size: 60px;
    line-height: 1;
    color: #fff;
    background-color: #FDEEE7;
  }
}

.slick-prev {
  position: sticky;
  left: 0;
  display: none;

  &::before {
    content: " ";
  }
}

.slick-next {
  right: -5%;
  top: 38%;
  

  &::before {
    content: "";
    width: 70px;
    height: 70px;
    background-image: url(../../images/next.svg);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.slick-dots {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  li {
    display: inline-block;
    margin: 0 5px;
  }

  button {
    padding: 0;
    border: none;
    background-color: rgb(216, 213, 213);
    cursor: pointer;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    font-size: 0;

    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.slick-active {
  button {
    background-color: #333;
  }
}
