.testimonials {
  margin-bottom: 140px;
  @media screen and (max-width: 1100px) {
    margin-bottom: 200px;
  }

  &__main {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 1100px) {
      position: relative;
      justify-content:  center;
      flex-wrap: wrap;
      width: 100%;
    }

    &__img {
      max-width: 555px;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;
  }
}

.slider-testimonials {
  max-width: 457px;
  margin-top: 1em;

  @media screen and (max-width: 768px) {
    max-width: 100%;
  }

  .slick-arrow {

    @media screen and (max-width: 1024px) {
      display: none !important ;
    }

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-size: 0;

    &::before {
      display: table;
      font-size: 60px;
      line-height: 1;
      color: #fff;
      background-color: #fdeee7;
    }
  }

  .slick-prev {
    left: 66%;
    top: 0;
    display: block;
    z-index: 100;

    &::before {
      content: ' ';
      width: 50px;
      height: 50px;
      background-image: url('../../images/slick/prev_small.png');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }

  .slick-next {
    right: 10%;
    top: 0%;

    &::before {
      content: '';
      width: 50px;
      height: 50px;
      background-image: url('../../images/slick/next_small.png');
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
    }
  }
}

.sl-test-item {
  display: flex;
  flex-direction: column;

  &__img {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    border-radius: 50%;
    border: 2px solid $main-color;

    @media screen and (max-width: 768px) {
      width: 70px;
      height: 70px;
    }

    @media screen and (max-width: 1024px) {
      margin-bottom: 10px;
    }

  }

  &__apostrof {
    width: 36px;
    height: 30px;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      width: 18px;
      height: 15px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 22px;
    font-family: 'Source Serif Pro', serif;
  }

  &__paragraph {
    margin-bottom: 25px;
    opacity: 70%;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  &__author {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  &__role {
    opacity: 80%;
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1100px) {
  .testimonials-img {
    display: none;
  }
}
