.video {
  margin-bottom: 136px;
  display: flex;
  flex-direction: row;

  &__left-side {
    width: 50%;
    margin: 64px 0;
  }

  &__right-side {
    width: 50%;
    position: relative;

    .img {
      max-width: 100%;
      position: relative;
      img {
        max-width: 100%;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 55%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }

  &__button {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    border: 0;
    :hover {
      background-color: red;
    }
    z-index: 20;
  }

  &__button::after {
    content: "";
    position: absolute;
    left: 40%;
    top: 30%;
    border: 20px solid transparent;
    border-left: 30px solid $main-color;
  }
}

.tags {
  max-width: 340px;
  font-family: "Source Serif Pro", serif;

  &__video {
    margin-bottom: 15px;
  }

  &__parag {
    font-family: "Poppins", sans-serif;
    color: $text-color;
    font-size: 16px;
    opacity: 70%;
    font-weight: 400;
  }
}
