.about
  .about__title О Компании
  .about__info Кирпич – один из древнейших и универсальных строительных материалов. Его прочность и износостойкость, высокая надежность и устойчивость перед разрушениями механического, климатического и химического характера сделали его материалом №1 как в профессиональном строительстве, так и среди частных застройщиков. Кирпич является отличным средством для защиты дома от холода, перегрева и влаги. Это огнестойкий, звуконепроницаемый и теплоизоляционный материал, не требующий постоянного специального ухода. Сегодня каждые 6 из 10 домов в мире строится именно из данного материала.
