h1 browserSync dev server runned!
button.main-button Активная
button.main-button(disabled='') Отключенная
button.btn Активная
button.btn(disabled='') Отключенная
button.btn.btn--info.btn--small Пример1
button.btn.btn--success.btn--medium Пример2
button.btn.btn--danger.btn--large Пример3
+button("pug-кнопка", 'large', "warning")