section.cards
  .container
    .title
      .sup-title FEATURE
      h2.sub-title We have best feature in Shoes
    .cards-wrapper
      +card('../../images/card1.svg','Quality','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')
      +card('../../images/card2.svg','Flexible','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')
      +card('../../images/card3.svg','Long Lasting','Lorem ipsum dolor sit consectetur adipiscing elit. Viverra in ul')