section.cards
  .container
    .title
      .sup-title FEATURE
      h2.sub-title We have best feature in Shoes
    .cards-wrapper
        //- +card('','','')
        //- +card('','','')
        //- +card('','','')