section.main-screen
  .main-screen__left
    .tagline
      h1.tagline__sup
        | Life is better in running
        br
        span.oranje shoes
        |.
      .tagline__sub
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices

  .main-screen__right
    -let images = ['../images/sneakers/sneaker1.png', '../images/sneakers/sneaker3.png']
    +slider(images)
  img.border(src="../../images/main-screen/border.png", alt="")


form.filter(action="index.html", method="get")
  .filter__item
    label.filter__name(for='brand') Brand
    select.filter__select(id='brand')
      option.filter__option(value="puma" selected) Puma
      option.filter__option(value="Puma1") Puma1
  .filter__column
  .filter__item
    label.filter__name(for='person') Person
    select.filter__select(id='person')
      option.filter__option(value="man" selected) man
      //- option.filter__option(value="woman") woman
  .filter__column
  .filter__item
    label.filter__name(for='size') Size
    select.filter__select(id='size')
      option.filter__option(value="large" selected) large
      //- option.filter__option(value="medium") medium
      //- option.filter__option(value="small") small
  .filter__column
  .filter__item
    label.filter__name(for='price') Price
    select.filter__select(id='price')
      option.filter__option(value="$150" selected) $150
      option.filter__option(value="$250") $250
      option.filter__option(value="$350") $350
      option.filter__option(value="$450") $450
  +button('Buy now')
