section.newsletter
  .newsletter-wrapper
    .newsletter-wrapper__left 
      img.newsletter-img(src="../../images/newsletter/newsletter-puma.png", alt="")
    .newsletter-wrapper__right.sign-up
      .sign-up__title Sign up to our Newsletter
      .sign-up__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sagittis, Atiam lorem sed justo amet viverra in a.
      .sign-up__input
        form.email-form(action="#" method="post") 
          input.email-form__input(type="email" placeholder="Enter your email address")
          +button('Send','--form')
