section.newsletter
  .container.newsletter-wrapper
    .newsletter-wrapper__left 
      img.newsletter--img(src="../../images/newsletter-puma.png", alt="")
    .newsletter-wrapper__right.sign-up
      .sign-up__title Sign up to our Newsletter
      .sign-up__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu sagittis, Atiam lorem sed justo amet viverra in a.
      .sign-up__input.sign-input
        form.sign-input__form(action="#" method="post") 
        input.sign-input__input(type="email" placeholder="Enter your email address")
        +button('Send','medium','primary',false)
