.testimonials
  .sub-title.testimonials__title Testimonials
  .testimonials__main
    img.testimonials-img(src="images/testimonials/testimonials.png", alt="")
    -let testItems=[['images/testimonials/avatar.jpg', 'Their services was best and friendly', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.', 'Abram Korsgaard','Athletic'],['images/testimonials/avatar.jpg', 'Their services was best and friendly', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.', 'Abram Korsgaard','Athletic'],['images/testimonials/avatar.jpg', 'Their services was best and friendly', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Purus tempor id faucibus quam lobortis.', 'Abram Korsgaard','Athletic']]
    +sliderTestimonials(testItems)
