.container
  .video
    .video__left-side
      .tags
        .tags__video.sup-title video
        h2.tags__header.sub-title Desire the feel of satisfaction.
        p.tags__parag Lorem ipsum dolor sit amet, consectetur adipiscing elit. Egestas leo ultrices commauris risus.
    .video__right-side
      img(src="images/video.png", alt="video")
      .video__btns
        button.video__button

