mixin card(img_src, title, list,price="Цена по запросу")
  if (price!="Цена по запросу")
    - price = price+ " РУБ/ШТ"
  .card-item
    .card-item__wrapper
      if img_src==''
        img.card-item__img(src='../images/pusto.png', alt="")
      else 
        img.card-item__img(src=img_src, alt="")
    
    .card-item__info
      .card-item__name= title

      ul.card-item__list
        each val in list
          li.card-item__li= val

      .card-item__price= price
      
