html {
  font-size: $fs-base;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  flex-direction: column;
  background-color: $background-color;
  color: $text-color;
}

h1 {
  margin: 15px;
  font-weight: 700;
  font-size: $fs-big;
}
