extends ../templates/layout/baseLayout.pug
block main
  include ../templates/blocks/main-screen
  include ../templates/blocks/video
  include ../templates/blocks/cards
  include ../templates/blocks/gallary
  include ../templates/blocks/testimonials
  include ../templates/blocks/newsletter
block variables
  - var title = 'Main';
