extends ../templates/layout/baseLayout.pug
block main  
  include ../templates/blocks/main-screen
  include ../templates/blocks/video
  include ../templates/blocks/cards
block variables
  - var title = 'Main';
