extends ../templates/layout/baseLayout.pug
block main
  include ../templates/blocks/main-screen
  include ../templates/blocks/video
  include ../templates/blocks/cards
  include ../templates/blocks/gallary
block variables
  - var title = 'Main';
