extends ../templates/layout/baseLayout.pug
block main
  //- include ../templates/blocks/buttons
  include ../templates/blocks/slider
  //- include ../templates/blocks/cards
block variables
  - var title = 'Main';
